{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
<h1 class="text-center m-5">Page d'administration</h1>
<table class = "table text-center">
    <thead>
        <tr>
            <th>Circuit Adulte</th>
            <th>Circuit Enfant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for course in courses %}
            <td>Nombre de place : {{course.nb_places}} </td>
        {% endfor %}
        </tr>
        <tr>
        {% for course in courses %}
            <td>Date de la course : {{course.date | date("d/m/y")}} </td>
        {% endfor %}
        </tr>
        <tr>
        {% for course in courses %}
            <td><a href="{{path('admin_consulter_participants', {course : course.id})}}">Participants inscrits</a></td>
        {% endfor %}
        </tr>
        <tr>
        {% for course in courses %}
            <td><a href="{{path('admin_reporter_course',{courseEnfant : course.id})}}">Reporter les courses</a></td>
        {% endfor %}
        </tr>
    </tbody>
</table>


<p>Replacer le nombre de place par nombre de places restantes</p>
<p>Proposition : animation javascript pour confirmer avant de lancer la fonction</p>

{% endblock %}
