{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, maiores tempora! Quo consectetur dolores vitae quaerat assumenda qui doloremque fugiat quisquam maxime voluptates, quibusdam velit quod alias odit distinctio repudiandae?</p>
{% endblock %}
