{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionCourseController!{% endblock %}

{% block body %}

<button type="button" class="btn btn-info"></button>
<p> Connecté! </p>
{% endblock %}
